.search-bar {
  margin: 20px;
  text-align: center;
}
.search-bar {
  padding: 0 !important;
  margin: 20px 0;
}

.search-bar input {
  width: 100%;
  padding-left: 10px;
}

.video-item img {
  max-width: 64px;
}
.AppVideoDetail {
  padding: 0 !important;
}
ul {
  padding: 0 !important;
}
.media-heading {
  font-size: 0.75rem;
  padding-left: 10px;
}
.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.details {
  padding: 20px 0;
}
.details-heading {
  font-size: 14px;
}
.details-subheading {
  font-size: 12px;
  padding-top: 10px;
}
